body {
    background: black;
    margin: 0 auto;
    background-image: url(assets/images/psychic-ability.jpg);
    
}

#game {
    background: rgb(2, 2, 2);
    background-image: url(assets/images/psychic-ability.jpg);
    width: 500px;
   
    
}

h1 {
    text-shadow: black 5px 2px;
}

.header {
    color: rgb(255, 162, 23);
    display: flex;
    justify-content: center;
    font-family: 'Creepster', cursive;
    font-size: 32px;
    border: 2px rgb(255, 162, 23) dotted;
    border-bottom: none;
    width: 600px;
    height: 200px;
    margin-left: 320px;
    margin-top: 10px;
}

.container {
    font-family: 'Acme', sans-serif;
    background: black;
    color: white;
    width: 600px;
    margin-left: 320px;
    border: 2px dotted rgb(255, 162, 23);
    border-top: 2px dotted rgb(2, 2, 2);
}

p {
    display: flex;
    justify-content: center;
}

img {
    float: right;
    margin-top: -390px;
    margin-right: 555px;
}

iframe {
    border: none;
    
}