body {
    background: black;
    font-size: 24px;
}

.game {
    background: rgb(2, 2, 2);
    border: rgb(255, 162, 23) 2px dotted;
}

h1 {
    text-shadow: black 5px 2px;
}

.header {
    color: rgb(255, 162, 23);
    font-family: 'Creepster', cursive;
    background: black;
   
}

.container {
    font-family: 'Acme', sans-serif;
    background: black;
}

p {
    color: white;
}

.jumbotron {
    background: black;
    margin-left: 400px;
    margin-right: 400px;
}




