body {
    background: black;
    
}

#game {
    background: rgb(2, 2, 2);
    
}

.header {
    color: rgb(59, 216, 98);
    display: flex;
    justify-content: center;
    font-family: 'Creepster', cursive;
    font-size: 32px;
    border: 1px rgb(59, 216, 98) dotted;
    border-radius: 25px;
    width: 600px;
    height: 200px;
    margin-left: 320px;
}

.container {
    font-family: 'Acme', sans-serif;
    background: black;
    color: white;
    width: 250px;
    margin-left: 490px;
}

p {
    display: flex;
    justify-content: center;
}